<%# app/view/shopping_carts/show.html.erb %>

<h3> Welcome to your Shopping Cart! 🛒 </h3>
<div class="container">
  <div class="card">
    <h4 class="px-4 py-4">Items in your Cart:</h4>
        <% if @cart_items.count > 0 %>
          <% @cart_items.each do |cart_item| %>
          <% if cart_item.devil_fruit.photo.key.nil? %>
          <img src="https://cdn.shopify.com/s/files/1/0556/3822/9043/files/Fruit001.png?v=1650868361" alt="default photo">
        <% else %>
          <%= cl_image_tag cart_item.devil_fruit.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
          <ul>
            <li><%= link_to 'Remove from Cart', cart_item_path(cart_item), method: :delete, 'data-turbo-method': :delete %></li>
            <li><%= link_to cart_item.devil_fruit.name, cart_item_path(cart_item), class: "bubbly-button" %> - <%= cart_item.devil_fruit.price %> Berries</li>
          </ul>
            <% end %>
        <% else %>
          <p>No items in your cart yet!</p>
      <% end %>
  </div>
</div>
