<%# app/view/shopping_carts/show.html.erb %>

<h3> Welcome to your Shopping Cart! 🛒 </h3>
<div class="container">
  <div class="card">
    <h4 class="px-4 py-4">Items in your Cart:</h4>
        <% if @cart_items.count > 0 %>
          <% @cart_items.each do |cart_item| %>
          <ul>
            <li>"<%= link_to cart_item.devil_fruit.name, cart_item_path(cart_item) %>" - <%= cart_item.devil_fruit.price %> $</li>
          </ul>
            <% end %>
        <% else %>
          <p>No items in your cart yet!</p>
      <% end %>
  </div>
</div>
