<div class="ft">
<div class="footer">
  <div class="row">
    <div class="col">
      <img src="" class="logs">
      <p>Ralph Lauren offers designer men's, women's, kids' & baby clothing & accessories and home furnishings. Free Fast
  Shipping With an RL Account & Free Returns.</p>
    </div>
      <div class="col">
        <h3>office <div class="underline"><span></span></div></h3>
        <p>Rhoudani road</p>
        <p>rhoudani, 45  pin 30987</p>
        <p class="email-id">batch#1125@gamil.com</p>
        <p>+212 6 00 00 00 00 </p>
      </div>
      <div class="col">
        <h3>Links <div class="underline"><span></span></div></h3>
        <ul>
          <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Newsletter<div class="underline"><span></span></div></h3>
        <form >
        <i class="fas fa-envelope"></i>
        <input type="email" placeholder="Enter your email" requiered>
        <button type="submit"><i class="fas fa-arrow-right"></i></button>
        </form>
        <div class="social-icons d-flex">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>
      <hr>
  <p class="copyright">Batch#1125 -2023 - All rights Reserved</p>
  </div>

</div>
</div>
