.df-card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;

  .font-alpha {
    margin-bottom: 1rem;
  }

  .devil-fruit-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    align-items: center;

    .devil-fruit-card {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr;
      gap: 1rem;
      align-items: center;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      padding: 20px 50px;

      .devil-fruit-image {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
        justify-self: start;
        margin-right: 2rem;

        img {
          max-width: 100%;
        }
      }

      h3 {
        margin: 0;
      }

      .devil-fruit-details {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        li {
          margin-bottom: 0.5rem;
        }
      }

      .devil-fruit-actions {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .button {
          margin-right: 1rem;
        }

        .button-primary {
          background-color: green;
          color: white;
        }

        .button-danger {
          background-color: red;
          color: white;
        }
      }

      .devil-fruit-details-and-actions {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }

  .button-secondary {
    margin-top: 2rem;
  }
}
.button {
  position: relative;
  padding: 5px 10px;
  font-size: 0.6rem;
  color: var(--color);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.button:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.button:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.button span {
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.button:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.button span:nth-child(1),
.button span:nth-child(3) {
  width: 20px;
  height: 4px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateX(0);
}

// .button span:nth-child(2),
// .button span:nth-child(4) {
//   width: 4px;
//   height: 20px;
// }

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateY(0);
}

.button span:nth-child(1) {
  top: calc(50% - 2px);
  left: -25px;
  transform-origin: left;
}

.button:hover span:nth-child(1) {
  left: 50%;
}

.button span:nth-child(3) {
  top: calc(50% - 2px);
  right: -25px;
  transform-origin: right;
}

.button:hover span:nth-child(3) {
  right: 50%;
}

ul {
  list-style-type: none; /* remove the dot style */
  padding: 0; /* remove the default padding */
  text-align: center;
}

li {
  padding: 0.5em 0; /* add space between list items */
}

// .button span:nth-child(2) {
//   left: calc(50% - 2px);
//   // top: -25px;
//   transform-origin: top;
// }

// .button:hover span:nth-child(2) {
//   top: 50%;
// }

// .button span:nth-child(4) {
//   left: calc(50% - 2px);
//   bottom: -25px;
//   transform-origin: bottom;
// }

// .button:hover span:nth-child(4 ) {
//   bottom: 50%;
// }
