
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 50px o 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}
.row {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.col{
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2), .col:nth-child(2){
  flex-basis: 15%;

}
.col h3{
  width: fit-content;
  margin-bottom: 15px;
  position: relative;
}
.email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc ;
  margin: 20px 0;
}

ul li{

  list-style: none;
  margin-bottom: 12px;
}

ul li a{
  text-decoration: none;
  color: #fff;
}
form{
  padding-bottom:15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fas{
  color: #ccc;
}

.social-icons .fab{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright{
  text-align: center;
}
.underline{
  margin-top: 12px;
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100px;
  }
}
