.elegantshadow {
  color: #131313;
  letter-spacing: .15em;
  text-shadow:
    -1px 2px 1px #737272,
    -2px 4px 1px #767474,
    -3px 6px 1px #787777,
    -4px 8px 1px #7b7a7a,
    -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181,
    -7px 14px 1px #868585,
}
